.App-header {
  position: relative; /* Set position to relative for containing absolutely positioned elements */
  background-color: #e7dfd4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #284a6e;
}

.right-img {
  position: absolute; /* Position the image absolutely */
  top: 10px; /* Adjust top distance from the top edge */
  right: 20px; /* Adjust right distance from the right edge */
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.centered-img {
  position: absolute;
  width: 300px; /* Increase the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: 45px; /* Adjust the distance from the top edge */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
}

.button-container button {

  gap: 10px;
  margin: 60px  30px;


  padding: 10px 20px;
  font-size: 32px;
  color: #284a6e;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
  cursor: pointer;
  outline: none;
}

/* Hover effect  */
.button-container button:hover {
  background-color: #e0e0e0;
  border-color: #284a6e;
  transform: scale(1.05);  
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}