.App-header {
  position: relative; /* Set position to relative for containing absolutely positioned elements */
  background-color: #e7dfd4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #284a6e;
}

.right-img {
  position: absolute; /* Position the image absolutely */
  top: 10px; /* Adjust top distance from the top edge */
  right: 20px; /* Adjust right distance from the right edge */
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.centered-img {
  position: absolute;
  width: 300px; /* Increase the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: 45px; /* Adjust the distance from the top edge */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
}

.button-container button {
   justify-content: center;     
  gap: 5px;
  margin: 20px  10px ;
  padding: 10px 20px;
  font-size: 28px;
  color: #284a6e;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
  cursor: pointer;
  outline: none;
}

/* Hover effect  */
.button-container button:hover {
  background-color: #e0e0e0;
  border-color: #284a6e;
  transform: scale(1.05);  
}

.blue-button {
  background-color: #284a6e;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 38px;
  border: 2px solid transparent;
  transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
}

.blue-button:hover {
  background-color: #1e3550;
  transform: scale(1.05);
  border-color: #ffffff;
}

.large-input {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.input-group input[type="number"] {
  width: 30%;  
  padding: 10px;  
  font-size: 1.2rem;  
  margin-top: 5px;
  margin-bottom: 15px;  
  box-sizing: border-box;  
}

.login-button {
  padding: 8px 16px; 
  margin-left: 10px;
  font-size: 28px; 
  border-radius: 10px; 
  transition: background-color 0.3s, transform 0.3s; 
}

.login-button:hover {
  background-color: #1e3550; 
  transform: scale(1.03); 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}