
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 34, 7, 0.87);
  background-color: #fbfffd;
}

body {
  margin: 10;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.2em 0.75em;
  font-size: 1em;
  font-weight: 500;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
  background-color: #004713;
  cursor: pointer;
  transition: border-color 0.25s;
}

a:link {
  color: rgb(1, 167, 1);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(132, 0, 255);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(96, 255, 96);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
